.errorMessage {
    color: #D8000C;
    background-color: #FFD2D2;
    width: 50%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    padding: 150px 0 0 100px;
    width: 50%;
    margin: 0 auto;
    .loginBtn{
        display: flex;
        flex-basis: 6%;
        justify-content: flex-end;
        margin-top: 20px;
        max-width: 80%;
    }

}